.awesomplete-container {
  position: relative;
}

.awesomplete {
  display: block;
}

.awesomplete > ul {
  border: 0;
}

.awesomplete > ul > li {
  padding: 0.8rem;
  background: palette('white');
}

.awesomplete > ul > li small {
  display: block;
  width: 100%;
  color: palette('gray', 'light');
}

.awesomplete > ul > li[aria-selected=true] {
  color: palette('gray');
  background: palette('gray', 'pale');
}

.awesomplete__country,
.awesomplete__city,
.awesomplete__state {
  display: flex;
  align-items: center;

  &::before {
    display: inline-block;
    width: 1.25rem;
    height: 1.25rem;
    margin-right: 1.2rem;
    content: '';
  }
}

.awesomplete__country::before {
  background-image: image('brazil.svg');
}

.awesomplete__city::before {
  background-image: image('city.svg');
}

.awesomplete__state::before {
  background-image: image('location-pin.svg');
}
