.big-number {
}

.big-number .big-number__title {
  display: block;
  font-weight: font-weight('light');
  font-size: ms(10);
  text-align: center;
}

.big-number .title {
  padding-bottom: 0.5rem;
  text-align: left;
  text-transform: uppercase;
  background-image: linear-gradient(to right, palette('blue', 'greeny') 73px, palette('gray', 'light') 50px);
  background-position: bottom;
  background-size: 100% 2px;
}
