.buttons-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 37.7rem;
  margin-top: 2rem;
  margin-right: auto;
  margin-left: auto;
}

.buttons-group .button-icon {
  margin-bottom: 1rem;
}

.buttons-group__normie-links {
  width: 100%;
  text-align: left;
}

.buttons-group__normie-links a {
  margin-left: 1rem;
  font-size: ms(-2);
  text-decoration: underline;

  &:first-child {
    margin-left: 0;
  }

  @media screen and (min-width: breakpoint('phablet')) {
    font-size: ms(-1);
  }
}

