.download {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  margin-bottom: 3rem;

  @media screen and (min-width: breakpoint('phablet')) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.download__block {
  display: flex;
  flex-direction: column;
  width: 100%;

  @media screen and (min-width: breakpoint('tablet')) {
    max-width: 50%;

    &:last-child {
      padding-left: 1rem;
    }
  }
}

.download .button {
  align-self: center;
  margin-top: auto;
  margin-bottom: 1.5rem;
}

.download h2 {
  font-weight: font-weight('bold');
  color: palette('dark-blue-grey');

  @media screen and (min-width: breakpoint('phablet')) {
    width: 100%;
  }

  @media screen and (min-width: breakpoint('phablet')) {
    font-size: ms(6);
  }

  @media screen and (min-width: breakpoint('desktop')) {
    font-size: ms(7);
  }
}
