.indicator-boxes {
  position: relative;
  display: flex;
  z-index: 2;
  flex-direction: column;
  min-height: 32.5rem;
  padding: 1.5rem;
  background: palette('green');

  @media screen and (min-width: breakpoint('desktop')) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 2rem;
  }
}

.indicator-boxes h2 {
  position: relative;
  margin-bottom: 2rem;
  font-weight: font-weight('bold');
  font-size: ms(4);
  line-height: 1.2;
  color: palette('white');
  // transition: none;

  @media screen and (min-width: breakpoint('desktop')) {
    width: calc(20% - 0.5rem);
  }
}


.indicator-boxes .brazil-header {
  margin-top: 0;
  margin-bottom: 1.5rem;
  font-size: ms(11);
}

.indicator-boxes h2 span {
  position: relative;
  display: block;
  text-transform: uppercase;

  &::before {
    position: absolute;
    bottom: -1rem;
    width: 9.7rem;
    height: 0.25rem;
    background: linear-gradient(87deg, palette('gradient', 'purple') 0%, palette('gradient', 'purple-lighter') 36%,
      palette('gradient', 'blue') 63%, palette('gradient', 'blue-lighter') 100%);
    content: '';
  }

}

.indicator-boxes-axis {
  display: block;
  font-weight: bold;

  &::before {
    display: inline-block;
    width: 1.25rem;
    height: 1.25rem;
    margin-right: 0.8rem;
    vertical-align: text-bottom;
    background-size: 100%;
    content: '';
  }
}

.indicator-boxes-axis--health {
  background-image: image('health.svg');
}

.indicator-boxes-axis--education {
  background-image: image('education.svg');
}

.indicator-boxes-axis--social-assistance {
  background-image: image('people.svg');
}

.indicator-boxes__box {
  margin-bottom: 2rem;
  color: palette('white');

  @media screen and (min-width: breakpoint('desktop')) {
    width: calc(25% - 0.5rem);
  }

  @media screen and (min-width: breakpoint('desktop')) {
    width: calc(25% - 1rem);
  }
}

.indicator-boxes__box h3 {
  margin-top: 0.5rem;
  font-weight: font-weight('normal');
  font-size: ms(0);
}

.indicator-boxes__box h3,
.indicator-boxes__box h4 {
  overflow: hidden;
  color: palette('white');
}

.indicator-boxes__box h4 {
  @include truncate;
  margin-top: 0.8rem;
  margin-bottom: 0.8rem;
  font-size: ms(8);
}

.list-enter-active,
.list-leave-active {
  transition: opacity 1s, transform 1s;
}

.list-enter,
.list-leave-to /* .list-leave-active below version 2.1.8 */ {
  opacity: 0;
  transform: translateY(30px);
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
