.indicator-boxes {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  background: palette('green');

  @media screen and (min-width: breakpoint('phablet')) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.indicator-boxes h2 {
  font-weight: font-weight('bold');
  font-size: ms(8);
  color: palette('white');
}

.indicator-boxes__box {
  margin-bottom: 1rem;
  color: palette('white');

  @media screen and (min-width: breakpoint('phablet')) {
    width: calc(50% - 0.5rem);
    text-align: center;
  }

  @media screen and (min-width: breakpoint('tablet')) {
    width: calc(100% / 3 - 0.5rem);
  }
}

.indicator-boxes__box h3 {
  font-weight: font-weight('normal');
  font-size: ms(0);
}

.indicator-boxes__box h3,
.indicator-boxes__box h4 {
  color: palette('white');
}

.indicator-boxes__box h4 {
  margin: 1rem;
  font-size: ms(8);
  text-align: center;
}
