.library-item {
  display: flex;
  flex-direction: column;
  padding-bottom: 2.5rem;
  margin-bottom: 1.5rem;
  border-bottom: 1px solid palette('gray', 'light');

  @media screen and (min-width: breakpoint('desktop')) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.library-item__image {
  display: none;
  align-self: center;

  @media screen and (min-width: breakpoint('phablet')) {
    display: block;
  }
}

.library-item__content {
  display: flex;
  flex-direction: column;

  @media screen and (min-width: breakpoint('desktop')) {
    max-width: calc(100% - 16rem);
    padding-left: 3rem;
  }
}

.library-item h2 {
  font-weight: font-weight('bold');
  font-size: ms(3);
  line-height: 1.2;
  color: palette('purple');
}

.library-item__author {
  color: palette('gray');
}

.library-item__time {
  display: block;
  padding: 0 0 1.5rem;
  font-size: ms(-1);
  text-transform: uppercase;
  color: palette('gray');
}

.library-item__time time {
  margin-left: 1rem;
  font-style: normal;
}

.library-item__tags {
  margin-bottom: 0.5rem;
  margin-left: -0.5rem;
}

.library-item__tags a {
  display: inline-block;
  padding: 0.2rem 0.5rem;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  margin-left: 0.5rem;
  font-size: ms(-3);
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  color: palette('white');
  background: palette('purple');
  border-radius: 2px;
  box-shadow: 0 2px 4px 0 palette('black', 'opacity');
}

.library-item__show-more {
  padding: 0;
  font-size: ms(0);
  text-decoration: underline;
  color: palette('purple');
  background: none;
  border: 0;
}

.library-item__content p {
  max-width: 100%;
}

.library-item .button {
  align-self: center;

  @media screen and (min-width: breakpoint('desktop')) {
    align-self: flex-end;
  }
}

.library-item__load-more {
  display: block;
  width: 11rem;
  margin-right: auto;
  margin-bottom: 2rem;
  margin-left: auto;
  text-align: center;
  cursor: pointer;
}


