.map-area {
  padding: 6rem 0;
  margin-bottom: 2rem;
  // sass-lint:disable-block no-color-literals
  background-position: center;
  background-size: cover;

  @media screen and (min-width: breakpoint('desktop')) {
    min-height: 30rem;
  }
}

.map-area h1 {
  font-weight: font-weight('light');
  font-size: ms(6);
  text-align: center;
  color: palette('white');

  @media screen and (min-width: breakpoint('phablet')) {
    font-size: ms(7);
  }

  @media screen and (min-width: breakpoint('phablet')) {
    font-size: ms(13);
  }
}

.search-area .container {
  max-width: 40.625rem;
  margin-right: auto;
  margin-left: auto;
}
