.news {
  padding-top: 8rem;
  padding-bottom: 3rem;
  margin-top: -8rem;
  color: palette('white');
  background: palette('blue', 'greeny');
}

.news .container {
  @media screen and (min-width: breakpoint('tablet')) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.news .container--two-news {
  justify-content: flex-start;
}

.news .container--two-news .news__item:last-child {
  @media screen and (min-width: breakpoint('tablet')) {
    margin-left: 5rem;
  }
}

.news__item {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;

  @media screen and (min-width: breakpoint('tablet')) {
    width: calc(100% / 3 - 1rem);
    margin-bottom: 2rem;
  }

  @media screen and (min-width: breakpoint('tablet')) {
    width: calc(100% / 3 - 2rem);
  }

  @media screen and (min-width: breakpoint('tablet')) {
    width: calc(100% / 3 - 4rem);
  }
}

.news h1 {
  font-weight: font-weight('light');
  font-size: ms(7);
  color: palette('white');

  @media screen and (min-width: breakpoint('tablet')) {
    width: 100%;
  }
}

.news h2 {
  padding-bottom: 0.8rem;
  margin-bottom: 0.8rem;
  color: palette('white');
}

.news time {
  padding-top: 1rem;
  margin-top: auto;
  font-style: normal;
  font-size: ms(-1);
  color: palette('black');
  border-top: 1px solid palette('white');
}
