.search-area {
  padding: 3rem 0;
  // sass-lint:disable-block no-color-literals
  background-image: linear-gradient(
    to bottom, rgba(0, 0, 2, 0.7),
    rgba(4, 5, 54, 0.7) 31%,
    rgba(27, 15, 117, 0.7) 59%,
    rgba(206, 100, 245, 0.7),
  ),
  image('children.jpg');
  background-size: cover;

  @media screen and (min-width: breakpoint('desktop')) {
    display: flex;
    align-items: center;
    min-height: 16.188rem;
  }
}

.search-area--home {
  padding: 0 0 1.5rem;
  color: palette('white');
  // sass-lint:disable-block no-color-literals
  background-image: linear-gradient(
    to bottom, rgba(0, 0, 2, 0.7),
    rgba(4, 5, 54, 0.7) 31%,
    rgba(27, 15, 117, 0.7) 59%,
    rgba(206, 100, 245, 0.7),
  ),
  image('home-banner.jpg');

  @media screen and (min-width: breakpoint('desktop')) {
    min-height: 34.75rem;
  }
}

.search-area.search-area--home .container {
  @media screen and (min-width: breakpoint('desktop')) {
    max-width: 74rem;
  }
}

.search-area--home header {
  margin-top: 4.5rem;

  @media screen and (min-width: breakpoint('desktop')) {
    max-width: 45rem;
  }
}

.search-area--big h1 {
  font-weight: 300;
  line-height: 1.3;
  color: palette('white');
}

.search-area--home h1 {
  font-weight: font-weight('light');
  font-size: ms(9);
  line-height: 1.3;
  color: palette('white');

  @media screen and (min-width: breakpoint('desktop')) {
    font-size: ms(12);
  }
}

.search-area--home p {
  font-size: ms(1);

  @media screen and (min-width: breakpoint('desktop')) {
    max-width: 45rem;
    font-weight: font-weight('bold');
    font-size: ms(3);
  }
}

.search-area__informative {
  display: block;
  width: 100%;
  margin-bottom: 3rem;
  font-size: ms(2);
}

.search-area__intern {
  display: block;
  min-height: auto;
  padding: 0;
  background-image: none;
}

.search-area .container {
  max-width: 40.625rem;
  margin-right: auto;
  margin-left: auto;
}

.search-area.search-area--big .container {
  @include container;
}

.search-area.search-area--big form {
  max-width: 50rem;
  margin-right: auto;
  margin-left: auto;
}

.search-area form {
  position: relative;
  width: 100%;
}

.search-area label {
  display: block;
  font-weight: font-weight('bold');
  font-size: ms(3);
  line-height: 1.3;
  color: palette('white');

  @media screen and (min-width: breakpoint('desktop')) {
    font-size: ms(5);
  }
}


.search-area--big label {
  margin-bottom: 0.5rem;
  text-align: center;
}

.search-area input {
  width: 100%;
  padding: 0.8rem 1.5rem;
  font-size: ms(-1);
  border: 2px solid palette('perrywinkle');
  border-radius: 3px;
}


.search-area__info {
  display: flex;
  align-items: center;
  margin-top: 0.3rem;
  color: palette('white');

  &::before {
    display: inline-block;
    width: 0.938rem;
    height: 0.938rem;
    margin-right: 0.3rem;
    background-image: image('info.svg');
    content: '';
  }
}

.search-area .magnifying-glass {
  position: absolute;
  right: 1rem;
  bottom: 0;
  width: 2.2rem;
  height: 3.125rem;
  padding: 0;
  text-indent: -999em;
  background-image: image('search.svg');
  background-position: center;
  background-size: 70%;
  background-color: transparent;
  border: 0;
}

.search-area__library {
  flex-wrap: wrap;
  min-height: 0;
  padding: 3rem 0 1.5rem;
  margin-bottom: 2rem;
  background: none;
}

.search-area__library form {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  justify-content: space-between;
  ;
}

.search-area__library input {
  width: calc(100% - 3.5rem);
  margin-top: 1rem;
  background-color: palette('white');
  border-color: palette('gray', 'light');
  border-radius: 5px 0 0 5px;

  @media screen and (min-width: breakpoint('phablet')) {
    width: calc(100% - 8.5rem);
  }
}

.search-area__library label {
  width: 100%;
  font-size: ms(1);
  color: palette('gray');
}

.search-area__library .awesomplete {
  margin-top: 0.5rem;
}

.search-area__library .search-area__search-text-button {
  position: relative;
  right: auto;
  width: auto;
  min-width: 3rem;
  padding: 0 1.2rem;
  font-weight: font-weight('bold');
  font-size: ms(1);
  color: palette('white');
  background-image: image('search-white.svg');
  background-size: 50%;
  background-color: palette('blue', 'greeny');
  border-radius: 0 5px 5px 0;

  @media screen and (min-width: breakpoint('phablet')) {
    text-indent: 0;
    background-image: none;
  }
}

