.send-plan {
  margin-bottom: 3rem;

  @media screen and (min-width: breakpoint('tablet')) {
    display: flex;
  }
}

.send-plan__text {
  @media screen and (min-width: breakpoint('tablet')) {
    max-width: 50%;
    padding-right: 3rem;
  }
}

.send-plan__text h3 {
  margin-top: 0;
  font-size: ms(4);
  color: palette('purple');
}

.send-plan__text p {
  font-size: ms(1);
  color: palette('purple');
}

.send-plan__fields {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  @media screen and (min-width: breakpoint('tablet')) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 50%;
  }
}

.send-plan__fields label {
  width: 100%;
  font-size: ms(-1);
  text-transform: uppercase;

  @media screen and (min-width: breakpoint('desktop')) {
    width: 48%;
  }
}

.send-plan__fields label[for='plan'] {
  width: 100%;
  max-width: 100%;
}

.send-plan__fields input,
.send-plan__fields .plan__custom-upload {
  width: 100%;
  padding: 0.5rem;
  margin-top: 0.3rem;
  margin-bottom: 1rem;
  border: 2px solid palette('purple');
  border-radius: 5px;
}

.send-plan__fields button {
  justify-content: center;
  // min-width: 10.5rem;
  margin: 0 auto;

  @media screen and (min-width: breakpoint('phablet')) {
    margin-right: 0;
  }
}

.send-plan__fields input[type='file'] {
  display: none;
}

.send-plan__fields .plan__custom-upload {
  display: inline-flex;
  align-items: center;
  min-height: 2.438rem;
  white-space: nowrap;

}

.plan__custom-upload-text {
  width: 70%;
  overflow: hidden;
  white-space: nowrap;
}

.plan__custom-upload-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 8.75rem;
  height: 2.875rem;
  margin-top: -8px;
  margin-right: -8px;
  margin-bottom: -8px;
  margin-left: auto;
  text-transform: uppercase;
  color: palette('white');
  background: palette('purple');

  &::before {
    display: block;
    width: 1.062rem;
    height: 1.062rem;
    margin-right: 5px;
    background-image: image('upload.svg');
    background-size: contain;
    content: '';
  }
}
