.site-footer {
  font-size: ms(-2);
  color: palette('white');
  background-color: palette('purple');

  @media screen and (min-width: breakpoint('tablet')) {
    font-size: ms(-1);
  }
}

.site-footer__colophon {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 3rem;

  @media screen and (min-width: breakpoint('desktop')) {
    justify-content: center;
  }
}

.site-footer__colophon .logo {
  width: 18rem;
  height: 2.15rem;
  margin-top: 2rem;
  background-image: image('logo.svg');
  background-size: contain;

  @media screen and (min-width: breakpoint('tablet')) {
    order: 1;
    width: 15.625rem;
    height: 4rem;
  }

  @media screen and (min-width: breakpoint('desktop')) {
    margin-right: auto;
  }
}

.site-footer__nav {
  margin-top: 2rem;

  @media screen and (min-width: breakpoint('tablet')) {
    order: 2;
  }
}

.site-footer__nav ul {
  padding-left: 0;
  margin: 0;

  @media screen and (min-width: breakpoint('desktop')) {
    padding-left: 2rem;
  }

  @media screen and (min-width: breakpoint('wide')) {
    padding-left: 3rem;
  }
}

.site-footer__nav > ul > li {
  width: 100%;
  margin-bottom: 1.5rem;
  list-style: none;
}

.site-footer__nav ul a {
  text-decoration: none;
  color: palette('white');
}


.site-footer address {
  margin-top: 1rem;
  font-style: normal;

  @media screen and (min-width: breakpoint('tablet')) {
    order: 3;
    width: 100%;
    text-align: center;
  }
}

.site-footer address p {
  margin: 0;
}

.site-footer__social {
  width: 100%;

  @media screen and (min-width: breakpoint('desktop')) {
    width: auto;
    margin-top: 0;
  }
}

.site-footer__social ul {
  display: flex;

  padding: 0;
}

.site-footer__social li {
  margin-left: 0.7rem;
  list-style: none;

  &:first-child {
    margin-left: 0;
  }
}

.site-footer__social li a {
  display: block;
  width: 1.4rem;
  height: 1.4rem;
  overflow: hidden;
  text-indent: 999em;
  background-size: contain;
  background-repeat: no-repeat;
}

.site-footer__social .facebook {
  background-image: image('facebook.svg');
}

.site-footer__social .twitter {
  background-image: image('twitter.svg');
}

.site-footer__social .instagram {
  background-image: image('instagram.svg');
}

.site-footer__social .whatsapp {
  background-image: image('whatsapp.svg');
}

.site-footer__social .github {
  background: image('github.svg');
}
