    {{ partial "head.html" . }}

    <body>
      {{ partial "header.html" . }}

      <main class="alabaster" id="app">
        <section class='search-area search-area--alternative search-area--library'>
            <div class="container">
              <header>
                <h1>
                  Um repositório de materiais de referência sobre a garantia dos direitos da primeira infância
                </h1>
              </header>
              <p>
                Marcos legais, documentos governamentais, estudos de organizações da sociedade civil, fundações empresariais e instituições de cooperação internacional.
              </p>
            </div>
        </section>
        <div class="search-area--gradient">
          <section class="search-area search-area--no-image">
            <div class="container">
              <section class='search-area search-area__library'>
                <form action="" @submit.prevent="getArticles(false, true)">
                  <label for="js-articles-search">
                    {{ i18n "exploreArticles" }}
                  </label>
                  <input
                    id="js-articles-search"
                    type="text"
                    v-model="searchQuery"
                    placeholder="{{ i18n "exploreArticlesPlaceholder" }}"
                  >
                    <button class="search-area__search-text-button">{{ i18n "search" }}</button>
                </form>
              </section>
            </div>
          </section>
        </div>

        <div class="container">
          <span
            v-if="searchQuery && 1 !== 1"
            class="search-area__informative"
          >
            Resultados de busca para: {{ "{{ searchQuery }}" }}
          </span>
          <div
            class="library-container"
            id="js-search-results"
            v-if="articles && articles.length !== 0"
          >
            <article class="library-item" v-for="(article, articleIndex) in articles">
              <div
                class="library-item__image"
                v-if="article.image && article.image.url"
              >
                <img
                  :src="`${storageDomain}${article.image.url}`"
                  :alt="article.title"
                >
              </div>
              <div class="library-item__content" :ref="`js-description-${articleIndex}`">
                <h2>{{ "{{ article.title }}" }}</h2>
                <span class="library-item__author">
                  <strong v-if="article.author">Autor: </strong>{{ "{{ article.author }}" }}
                  <br>
                  <strong v-if="article.organization">Organização:</strong> {{ "{{ article.organization }}" }}
                  <template v-if="article.date">
                    <br>
                    <strong v-if="article.date">Ano:</strong>
                    <time :datetime="article.date">{{ "{{ article.date }}" }}</time>
                  </template>
                  <span v-if="article.tags.length > 0" class="library-item__tags">
                    <br>
                    <strong v-if="article.tags.length > 0">Tags:</strong>
                    <template v-for="(tag, index) in article.tags">
                      <span>
                        {{ "{{ tag.name }}" }}<template v-if="index !== article.tags.length - 1">, </template></span>
                    </template>
                  </span>
                </span>
                <div class="library-item__description-container">
                  <!--
                  <p class="library-item__description" >
                    {{ "{{ article.description }}" }}
                  </p>

                  <button
                    hidden
                    @click="showFullDescription"
                    class="library-item__show-more"
                  >
                    Continuar lendo…
                  </button>
                  -->
                </div>
                <a
                  v-if="article.file && article.file.url"
                  :href="`${storageDomain}${article.file.url}`"
                  class="button button--purple button-download button--icon"
                  target="_blank"
                  download
                >
                  Download
                </a>
              </div>
            </article>
          </div>
          <a
            class="button library-item__load-more"
            v-if="has_more"
            @click.prevent="getArticles(true)"
          >
            Carregar mais
          </a>
          <div v-else>
            <p>Nenhum resultado para sua busca</p>
          </div>
        </div>
      </main>

      {{ partial "footer.html" . }}

      {{ partial "scripts.html" . }}
    </body>
</html>
