    {{ partial "head.html" . }}

    <body>
      {{ partial "header.html" . }}

      <header class='map-area'>
        <div class="container">
          <h1>{{ .Title }}</h1>
        </div>
      </header>

      <section>
        <div class="container">
          <div class="buttons-group">
            <button class="button-icon button--icon button--health">Saúde</button>
            <button class="button-icon button--icon button--education">Educação</button>
            <button class="button-icon button--icon button--social-care">Assistência Social</button>
            <div class="buttons-group__normie-links">
              <a href="/historico">Ver histórico</a>
              <a href="/dados" download>Fazer download dos dados</a>
            </div>
          </div>
        </div>
      </section>

      <section>
        <div class="container">
          <details>
            <summary>Número de matrículasde educação infantil: <strong>7.500 MIL</strong></summary>
            <div>
              <p>Homer J Simpson</p>
            </div>
          </details>

          <details>
            <summary>Número de matrículasde educação infantil: <strong>7.500 MIL</strong></summary>
            <div>
              <p>Homer J Simpson</p>
            </div>
          </details>

          <details>
            <summary>Número de matrículasde educação infantil: <strong>7.500 MIL</strong></summary>
            <div>
              <p>Homer J Simpson</p>
            </div>
          </details>
        </div>
      </section>

      <div class="container">
        <section class="download">
          <h2>Download</h2>

          <div class="download__block">
            <p>Faça download dos dados completo que  o Observa coletou e analisou.</p>
            <a href="" download class="button">Documento Completo</a>
          </div>

          <div class="download__block">
            <p>Faça download dos dados sobre Educação resumido de Campo Grande que o Observa coletou e analisou. </p>
            <a href="" download class="button">Documento Completo</a>
          </div>
        </section>
      </div>

      {{ partial "footer.html" . }}

      {{ partial "scripts.html" . }}

      <script>

      </script>

    </body>
</html>
