    {{ partial "head.html" . }}

    <body>
      {{ partial "header.html" . }}

      <main class="alabaster" id="app">
        <header class="header-text">
          <div class="container">
            <h1>{{ .Title }}</h1>
          </div>
        </header>
        <div class="container history">
          <div class="history__filters white-box">
            <form action="">
              <h4>Selecione outro tema</h4>
              <div class="history__radio-buttons">
                <input type="radio" id="saude" name="theme" value="saude">
                <label for="saude" class="button--icon button--health">Saúde</label>
                <input type="radio" id="educacao" name="theme" value="educacao">
                <label for="educacao" class="button--icon button--education">Educação</label>
                <input type="radio" id="assistencia-social" name="theme" value="assistencia-social"></input>
                <label for="assistencia-social" class="button--icon button--social-care">Assistência social</label>
              </div>

              <h4>Selecione outra localidade</h4>
              <select id="location" name="location">
                <option value="">Município</option>
                <option value="">Estado</option>
                <option value="">Região</option>
                <option value="">Brasil</option>
              </select>

              <h4>Selecione outro indicador</h4>
              <select id="location" name="location">
                <option value="">indicador 1</option>
                <option value="">indicador 2</option>
                <option value="">indicador 3</option>
                <option value="">indicador 4</option>
              </select>
              <button type="submit" class="button" disabled>Visualizar</button>
            </form>
          </div>
          <div class="history__graphics white-box">
            <div id="js-bars"></div>
          </div>

          <div class="history__desagregation white-box">
            <form action="">
              <h2>Veja a série histórica das desagregações</h2>

              <h4>Selecione outra desagregação</h4>
              <select id="location" name="location">
                <option value="">indicador 1</option>
                <option value="">indicador 2</option>
                <option value="">indicador 3</option>
                <option value="">indicador 4</option>
              </select>
              <button type="submit" class="button" disabled>Visualizar</button>
            </form>
          </div>
          <div class="history__graphics white-box">
            <div id="js-horizontal-bars"></div>
          </div>
        </div>
      </main>

      {{ partial "footer.html" . }}

      {{ partial "scripts.html" . }}

      <script>
        Highcharts.chart('js-bars', {
          chart: {
            type: 'column'
          },
          title: {
            text: 'Monthly Average Rainfall'
          },
          subtitle: {
            text: 'Source: WorldClimate.com'
          },
          xAxis: {
            categories: [
              'Jan',
              'Feb',
              'Mar',
              'Apr',
              'May',
              'Jun',
              'Jul',
              'Aug',
              'Sep',
              'Oct',
              'Nov',
              'Dec'
            ],
            crosshair: true
          },
          yAxis: {
            min: 0,
            title: {
              text: 'Rainfall (mm)'
            }
          },
          tooltip: {
            headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
            pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
            '<td style="padding:0"><b>{point.y:.1f} mm</b></td></tr>',
            footerFormat: '</table>',
            shared: true,
            useHTML: true
          },
          plotOptions: {
            column: {
              pointPadding: 0.2,
              borderWidth: 0
            }
          },
          series: [{
            name: 'Tokyo',
            data: [49.9, 71.5, 106.4, 129.2, 144.0, 176.0, 135.6, 148.5, 216.4, 194.1, 95.6, 54.4]

          }, {
            name: 'New York',
            data: [83.6, 78.8, 98.5, 93.4, 106.0, 84.5, 105.0, 104.3, 91.2, 83.5, 106.6, 92.3]

          }, {
            name: 'London',
            data: [48.9, 38.8, 39.3, 41.4, 47.0, 48.3, 59.0, 59.6, 52.4, 65.2, 59.3, 51.2]

          }, {
            name: 'Berlin',
            data: [42.4, 33.2, 34.5, 39.7, 52.6, 75.5, 57.4, 60.4, 47.6, 39.1, 46.8, 51.1]

          }]
        });

      </script>

      <script>
        Highcharts.chart('js-horizontal-bars', {
          chart: {
            type: 'bar'
          },
          title: {
            text: 'Historic World Population by Region'
          },
          subtitle: {
            text: 'Source: <a href="https://en.wikipedia.org/wiki/World_population">Wikipedia.org</a>'
          },
          xAxis: {
            categories: ['Africa', 'America', 'Asia', 'Europe', 'Oceania'],
            title: {
              text: null
            }
          },
          yAxis: {
            min: 0,
            title: {
              text: 'Population (millions)',
              align: 'high'
            },
            labels: {
              overflow: 'justify'
            }
          },
          tooltip: {
            valueSuffix: ' millions'
          },
          plotOptions: {
            bar: {
              dataLabels: {
                enabled: true
              }
            }
          },
          legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'top',
            x: -40,
            y: 80,
            floating: true,
            borderWidth: 1,
            backgroundColor:
            Highcharts.defaultOptions.legend.backgroundColor || '#FFFFFF',
            shadow: true
          },
          credits: {
            enabled: false
          },
          series: [{
            name: 'Year 1800',
            data: [107, 31, 635, 203, 2]
          }, {
            name: 'Year 1900',
            data: [133, 156, 947, 408, 6]
          }, {
            name: 'Year 2000',
            data: [814, 841, 3714, 727, 31]
          }, {
            name: 'Year 2016',
            data: [1216, 1001, 4436, 738, 40]
          }]
        });

      </script>
    </body>
</html>
