    {{ partial "head.html" . }}

    <body>
      {{ partial "header.html" . }}

      <main class="alabaster" id="app">
        <header class="header-text">
          <div class="container">
            <h1>{{ .Title }}</h1>
          </div>
        </header>
        <div class="container history">
          <div class="history__filters white-box">
            <form action="">
              <h4>Selecione outro tema</h4>
              <label for="saude">
                <input type="radio" name="theme" value="saude">Saúde</input>
              </label>
              <label for="educacao">
                <input type="radio" name="theme" value="educacao">Educação</input>
              </label>
              <label for="assistencia-social">
                <input type="radio" name="theme" value="assistencia-social">Assistência social</input>
              </label>

              <h4>Selecione outra localidade</h4>
              <select id="location" name="location">
                <option value="">Município</option>
                <option value="">Estado</option>
                <option value="">Região</option>
                <option value="">Brasil</option>
              </select>

              <h4>Selecione outro indicador</h4>
              <select id="location" name="location">
                <option value="">indicador 1</option>
                <option value="">indicador 2</option>
                <option value="">indicador 3</option>
                <option value="">indicador 4</option>
              </select>
              <button type="submit">Visualizar</button>
            </form>
          </div>
          <div class="history__graphics white-box">
            <div id="js-bars"></div>
          </div>

          <div class="history__desagregation white-box">
            <form action="">
              <h2>Veja a série histórica das desagregações</h2>

              <h4>Selecione outra desagregação</h4>
              <select id="location" name="location">
                <option value="">indicador 1</option>
                <option value="">indicador 2</option>
                <option value="">indicador 3</option>
                <option value="">indicador 4</option>
              </select>
              <button type="submit">Visualizar</button>
            </form>
          </div>
          <div class="history__graphics white-box">
            <div id="js-horizontal-bars"></div>
          </div>
        </div>
      </main>

      {{ partial "footer.html" . }}

      {{ partial "scripts.html" . }}
    </body>
</html>
