    {{ partial "head.html" . }}

    <body>
      {{ partial "header.html" . }}

      <main class="alabaster" id="app-history">
        <header class="header-text">
          <div class="container">
            <h1>{{ .Title }}</h1>
          </div>
        </header>
        <div class="loading" v-if="loading">
          Aguarde, carregando as informações...
        </div>
        <div v-else class="container history">
          <div class="history__filters white-box">
            <form action="" @submit.prevent="generateIndicatorChart">
              <h4>Selecione outro tema</h4>
              <div class="history__radio-buttons">
                <template v-for="area in areas">
                  <input
                    type="radio"
                    name="theme"
                    :id="`area-${area.id}`"
                    :value="area.id"
                    v-model="selectedArea"
                  >
                  <label
                    :for="`area-${area.id}`"
                    class="button--icon"
                    :class="`button--${area.class}`"
                  >
                    {{ "{{ area.name }}" }}
                  </label>
                </template>
              </div>

              <h4>
                <label for="myLocation">Selecione outra localidade</label>
              </h4>
              <input id="myLocation">
              <h4>Selecione outro indicador</h4>
              <select
                id="indicator"
                name="indicator"
                v-if="locale && locale.historical && locale.historical.length > 0 && locale.historical[0].indicators"
                v-model="selectedIndicator"
              >
                <option
                  v-if="loadingLocale"
                  disabled
                  selected
                >
                  Carregando...
                </option>
                <option
                  v-else
                  v-for="(indicator, index) in indicators"
                  :value="indicator"
                >
                  {{ "{{ indicator.description }}" }}
                </option>
              </select>
              <span v-if="!indicators.length">
                Não há indicadores para essa localidade
              </span>
            </form>
          </div>
          <div class="history__graphics white-box">
            <div id="js-history"></div>
          </div>

          <div
            class="history__desagregation white-box"
            :class="locale?.historical[0].indicators?.length === 0 ||
              selectedIndicator.subindicators.length === 0 ||
              Object.keys(selectedIndicator).length === 0 ? 'history__desagregation--full' : ''"
            >
            <div
              v-if="locale?.historical[0].indicators?.length === 0 ||
                selectedIndicator.subindicators.length === 0 ||
                Object.keys(selectedIndicator).length === 0"
            >
              Não há desagregadaores para esse indicador
            </div>
            <form
              @submit.prevent="generateSubindicatorChart()"
              v-else
            >
              <h2>Veja a série histórica das desagregações</h2>
              <h4>Selecione outra desagregação</h4>
              <select id="subindicators" name="subindicators" v-model="selectedSubindicator">
                <option
                  v-if="loadingLocale"
                  disabled
                  selected
                >
                  Carregando...
                </option>
                <option
                  v-if="!selectedIndicator || selectedIndicator.subindicators === 0"
                  disabled
                  selected
                >
                  Não há desagregadores para essa localidade
                </option>
                <option
                  v-else
                  v-for="(subindicator, index) in selectedIndicator.subindicators"
                  :value="subindicator"
                  :selected="index === 0"
                >
                  {{ "{{ subindicator.classification }}" }}
                </option>
              </select>
            </form>
          </div>
          <div
            :hidden="locale?.historical[0].indicators?.length === 0 ||
              selectedIndicator.subindicators.length === 0 ||
              Object.keys(selectedIndicator).length === 0"
            class="history__graphics white-box"
          >
            <div id="js-subindicators-chart"></div>
          </div>
        </div>
      </main>

      {{ partial "footer.html" . }}

      {{ partial "scripts.html" . }}

      <!-- <script> -->
      <!--   Highcharts.chart('js&#45;horizontal&#45;bars', { -->
      <!--     chart: { -->
      <!--       type: 'bar' -->
      <!--     }, -->
      <!--     title: { -->
      <!--       text: 'Historic World Population by Region' -->
      <!--     }, -->
      <!--     subtitle: { -->
      <!--       text: 'Source: <a href="https://en.wikipedia.org/wiki/World_population">Wikipedia.org</a>' -->
      <!--     }, -->
      <!--     xAxis: { -->
      <!--       categories: ['Africa', 'America', 'Asia', 'Europe', 'Oceania'], -->
      <!--       title: { -->
      <!--         text: null -->
      <!--       } -->
      <!--     }, -->
      <!--     yAxis: { -->
      <!--       min: 0, -->
      <!--       title: { -->
      <!--         text: 'Population (millions)', -->
      <!--         align: 'high' -->
      <!--       }, -->
      <!--       labels: { -->
      <!--         overflow: 'justify' -->
      <!--       } -->
      <!--     }, -->
      <!--     tooltip: { -->
      <!--       valueSuffix: ' millions' -->
      <!--     }, -->
      <!--     plotOptions: { -->
      <!--       bar: { -->
      <!--         dataLabels: { -->
      <!--           enabled: true -->
      <!--         } -->
      <!--       } -->
      <!--     }, -->
      <!--     legend: { -->
      <!--       layout: 'vertical', -->
      <!--       align: 'right', -->
      <!--       verticalAlign: 'top', -->
      <!--       x: &#45;40, -->
      <!--       y: 80, -->
      <!--       floating: true, -->
      <!--       borderWidth: 1, -->
      <!--       backgroundColor: -->
      <!--       Highcharts.defaultOptions.legend.backgroundColor || '#FFFFFF', -->
      <!--       shadow: true -->
      <!--     }, -->
      <!--     credits: { -->
      <!--       enabled: false -->
      <!--     }, -->
      <!--     series: [{ -->
      <!--       name: 'Year 1800', -->
      <!--       data: [107, 31, 635, 203, 2] -->
      <!--     }, { -->
      <!--       name: 'Year 1900', -->
      <!--       data: [133, 156, 947, 408, 6] -->
      <!--     }, { -->
      <!--       name: 'Year 2000', -->
      <!--       data: [814, 841, 3714, 727, 31] -->
      <!--     }, { -->
      <!--       name: 'Year 2016', -->
      <!--       data: [1216, 1001, 4436, 738, 40] -->
      <!--     }] -->
      <!--   }); -->
      <!--  -->
      <!-- </script> -->
    </body>
</html>
