    {{ partial "head.html" . }}

    <body>
      {{ partial "header.html" . }}

      <section class='search-area'>
        <div class="container">
          <form action="" id="js-submit-region">
            <label for="js-region-input">
              {{ i18n "exploreData" }}
            </label>
            <input
              type="text"
              disabled
              aria-busy="true"
              id="js-region-input"
              placeholder="{{ i18n "exploreDataPlaceholder" }}"
            >
            <section>
              <div class="container">
                <div class="js-areas-buttons buttons-group buttons-group__submit">
                  <button id="js-area-1" class="button-icon button--icon button--health">Saúde</button>
                  <button id="js-area-2" class="button-icon button--icon button--education">Educação</button>
                  <button id="js-area-3" class="button-icon button--icon button--social-care">Assistência Social</button>
                </div>
              </div>
            </section>
          </form>
        </div>
      </section>

      <section>
        <div class="container">
          <h1>{{ i18n "brazilOverview" }}</h1>
          <div class="chart-text">
            {{ $content_parts := split .Content "||||||||||" }}

            <div class="chart-text__content">
              {{ index $content_parts 0 | safeHTML }}
            </div>
            <div class="chart-text__content">
              {{ index $content_parts 1 | safeHTML }}
            </div>
          </div>
        </div>
      </section>

      {{ partial "footer.html" . }}

      {{ partial "scripts.html" . }}

      <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    </body>
</html>
