    {{ partial "head.html" . }}

    <body class="body-style-1">
      {{ partial "header.html" . }}

      <div class="container">
        <article class="row">
          <div class="one-third">
            <h1>{{ .Title }}</h1>
            {{ .Content }}
          </div>
          <div class="two-thirds">
            <img src="/assets/images/consulting.svg" alt="{{ .Title }}">
          </div>
        </article>

        {{ with (where $.Site.Pages "Type" "cases") }}
          <h1 id="cases">{{ i18n "cases" }}</h1>

          <div class="cases">
            {{ range $i, $case := (where $.Site.Pages "Type" "cases") }}
              <article class="cases__item {{ if not (modBool $i 2)}} cases__item--reverse {{end}}">
                <div class="cases__image">
                  <img src="{{ .Params.image }}" alt="{{ .Title }}">
                </div>
                <div class="cases__text">
                  <h1>{{ .Title }}</h1>
                  {{ .Content }}
                  {{ with .Params.link }}
                    <a href="{{ . }}" class="button button--destak" target="_blank">
                      {{ i18n "link" }}
                    </a>
                  {{ end }}
                </div>
              </article>
            {{ end }}
          </div>
        {{ end }}

        <article>
          <h1>{{ i18n "services" }}</h1>

          {{ with (where $.Site.Pages "Type" "servicos") }}
            <div class="services">
              {{ range (where $.Site.Pages "Type" "servicos") }}
                <section class="services__item">
                  <div class="services__image">
                    <img src="{{ .Params.image }}" alt="{{ .Title }}">
                  </div>
                  <div class="services__text">
                    <h1>{{ .Title }}</h1>
                    {{ .Content }}
                  </div>
                </section>
              {{ end }}
            </div>
          {{ end }}
        </article>
      </div>




      {{ partial "footer.html" . }}

      {{ partial "scripts.html" . }}
    </body>
</html>
