    {{ partial "head.html" . }}

    <body>
      {{ partial "header.html" . }}
      <div hidden>
        <!-- preload images -->
        <img src="/assets/images/city.svg" alt="">
      </div>

      <main class="alabaster" id="app">
        <div class="container">
          <form class="plans-search">
            <div class="plans-search__text">
              <h1>
                  Se você possuí o Plano de Primeira Infância de alguma localidade do Brasil,
                  <a href="#enviar-plano" >envie pra nós!</a>
              </h1>
              <h2>
                <label for="js-plan-search">
                  Escolha um estado, município ou região para encontrar um plano
                </label>
              </h2>
              <div class="plans-search__input">
                  <input
                    id="js-plan-search"
                    disabled
                    aria-busy="true"
                    type="text"
                    placeholder="Brasília, Goiás, Centro-Oeste"
                  >
                <button type="submit">Pesquisar</button>
              </div>
            </div>

            {{ partial "svg/brazil-map.svg" (dict "class" "map-books") }}
          </form>
        </div>

        <section class="plans-result" v-if="selectedLocale">
          <div class="container">
            <a href="#enviar-plano" class="plans-result__send-plan">Não encontrou o plano do seu estado? Envie para nós.</a>
            <header class="plans-result__header">
              <span
                class="plans-result__location"
                :class="selectedLocale.plan ? 'plans-result__location--with-plan' : ''"
                >
                <span
                  class="plans-result__first-letter"
                  :class="selectedLocale.type === 'region' ? 'plans-result__first-letter--region' : ''"
                >
                  {{ "{{ selectedLocale.type === 'region' ? '' : selectedLocale.name.split('')[0].toUpperCase() }}" }}
                </span>
                  {{ "{{ selectedLocale.name }}" }} -
                  <a
                    v-if="selectedLocale.plan"
                    :href="`${storageDomain}${selectedLocale.plan.url}`"
                    target="_blank"
                  >
                    Download do plano
                  </a>
                  <template v-else>sem informações</template>
              </span>
              <span
                v-if="capital"
                class="plans-result__capital-icon"
              >
                {{ "{{ capital.name }}" }} -
                <a
                  v-if="capital.plan"
                  :href="`${storageDomain}${capital.plan.url}`"
                  target="_blank"
                >
                  Download do plano
                </a>
                <template v-else>sem informações</template>
              </span>
            </header>
            <template v-if="relatedLocales">
              <ul
                v-for="relatedLocale in relatedLocales"
                class="plans-result__list"
              >
                <li class="plans-result__list-first-letter">{{ "{{ relatedLocale.title }}" }}</li>
                <template v-for="locale in relatedLocale.data">
                  <li
                    :class="locale.plan ? 'plans-result__has-plan' : ''"
                  >
                    {{ "{{ locale.name }}" }} -
                    <a
                      v-if="locale.plan"
                      :href="`${storageDomain}${locale.plan.url}`"
                      target="_blank"
                    >
                      Download do plano
                    </a>
                    <template v-else>sem informações</template>
                  </li>
                </template>
              </ul>
            </template>
          </div>
        </section>

        <div class="big-banner">
          <div class="container">
            <a
              v-if="infographic && infographic.url"
              :href="infographic.url"
              target="_blank"
            >
              <img
                v-if="infographic.big || infographic.small"
                v-bind:srcset="`
                  ${infographic.small} 350w,
                  ${infographic.big} 1059w
                `"
                :src="infographic.big"
                alt="O brasil na rota"
              >
            </a>
          </div>
        </div>

        <div class="container">
          <form class="send-plan" action="" id="enviar-plano">
            <div class="send-plan__text">
              <h3>Não encontrou o plano do seu município?</h3>
              <p>Seu município possuí um Plano para a Primeira Infância. </p>

              <p>Envie para o Observatório para que ele seja disponibilizado aqui, preenchendo o formulário.</p>

              <p>Faça parte do Observatório!</p>
            </div>
            <div class="send-plan__fields">
              <label for="name">
                Nome:
                <input type="text" name="name">
              </label>

              <label for="email">
                Email:
                <input type="email" name="email">
              </label>

              <label for="state">
                Estado:
                <input type="text" name="state">
              </label>

              <label for="city">
                Cidade:
                <input type="text" name="city">
              </label>

              <label for="plan">
                Upload: (pdf)
                <input type="file" id="plan" v-model="form.file" name="plan" accept="application/pdf,application/vnd.ms-excel">
                <span class="plan__custom-upload">
                  <span class="plan__custom-upload-text">
                    {{ "{{ form.file }}" }}
                  </span>
                  <div class="plan__custom-upload-button">Upload</div>
                </span>
              </label>
              <button type="submit" class="button button--purple">{{ i18n "send" }}</button>
            </div>
          </form>
        </div>
      </main>

      {{ partial "footer.html" . }}

      {{ partial "scripts.html" . }}
    </body>
</html>
