    {{ partial "head.html" . }}

    <body>
      {{ partial "header.html" . }}

      <div class="container">

        <article>
          <div class="row row--halfs row--center">
            <div class="one-third">
              <h1>{{ .Title }}</h1>
              {{ .Content }}
            </div>
            <div class="two-thirds">
              <img src="/assets/images/notebook2.png" alt="{{ .Title }}" class="half__svg">
            </div>
          </div>
        </article>
        <article class="cards">
          {{ with $.Site.Data.resellers }}
            <ul class="cards__list">
              {{ range .list }}
                <li class="cards__card cards__card--text-only">
                  <div class="cards__text cards__text--centered">
                    <h2>{{ .title }}</h2>
                    <p>{{ .description }}</p>
                  </div>
                </li>
              {{ end }}
            </ul>
          {{ end }}
          <a class="button button--destak button--large" href="mailto:afiliados@appcivico.com">{{ i18n "becomeAnAffiliate" }} {{ i18n "signUpNow" }}</a>
        </article>
      </div>

      {{ partial "footer.html" . }}

      {{ partial "scripts.html" . }}
    </body>
</html>
