    {{ partial "head.html" . }}

    <body>
      {{ partial "header.html" . }}

      <div class="container">
        <article class="row">
          <div class="one-third">
            <h1>{{ .Title }}</h1>
            {{ .Content }}
          </div>
          <div class="two-thirds">
            <img src="/assets/images/terms.svg" alt="{{ .Title }}">
          </div>
        </article>

        {{ with (where $.Site.Pages "Type" "termos") }}
          <div class="big-text">
            <div class="big-text__aside">
              {{ range (where $.Site.Pages "Type" "termos") }}
                <div class="big-text__item">
                  <section class="big-text__index">
                      <strong class="big-text__index-title">
                        <a href="#{{ .Params.anchor }}">
                          {{ .Title }}
                        </a>
                      </strong>
                    {{ range sort .Params.sidebar "weight" "asc" }}
                      <a href="{{ .src | safeURL }}"> {{ .name }}</a>
                    {{ end }}
                  </section>
                </div>
              {{ end }}
            </div>
            <div class="big-text__text">
                {{ range (where $.Site.Pages "Type" "termos") }}
                  <div class="big-text__text-item" id="{{ .Params.anchor }}">
                    <h1>{{ .Title }}</h1>
                    {{ .Content }}
                  </div>
                {{ end }}
            </div>
          </div>
        {{ end }}
      </div>

      {{ partial "footer.html" . }}

      {{ partial "scripts.html" . }}
    </body>
</html>
