    {{ partial "head.html" . }}

    <body>
      {{ partial "header.html" . }}

      <div class="container">

        <article>
          <div class="row row--halfs row--center">
            <div class="one-third">
              <h1>{{ .Title }}</h1>
              {{ .Content }}
            </div>
            <div class="two-thirds">
              <img src="/assets/images/work-with-us.svg" alt="{{ .Title }}" class="half__svg">
            </div>
          </div>
        </article>
        <article class="horizontal-cards">
          <h1>{{ i18n "jobs" }}</h1>
          {{ with (where $.Site.Pages "Type" "jobs") }}
            {{ range (where $.Site.Pages "Type" "jobs") }}

              {{ $content_parts := split .Content "<!-- more -->" }}

              <section class="horizontal-cards__card">
                <h2>{{ .Title }}</h2>
                <div class="horizontal-cards__text">
                  <div class="horizontal-cards__column">
                    {{ index $content_parts 0 | markdownify }}
                  </div>
                  <div class="horizontal-cards__column">
                    {{ index $content_parts 0 | markdownify }}
                  </div>
                </div>
                <a class="button button--destak" href="{{ .Params.link }}">{{ i18n "apply" }}</a>
              </section>
            {{ end }}
          {{ else }}
            <h2>{{ i18n "noJobs" }}</h2>
          {{ end }}
        </article>
      </div>

      {{ partial "footer.html" . }}

      {{ partial "scripts.html" . }}
    </body>
</html>
