<form
  method="POST"
  class="contact-form js-contact-form {{ with .class }} {{ . }} {{ end }}"
  name="investor-contact"
>
  <h2>{{ i18n "contactForm" }}</h2>
  <input type="hidden" name="subject" value="{{ .title }}">
  <label for="name">
    {{ i18n "name" }}*
    <input type="text" name="name" required>
  </label>
  <label for="email">
    {{ i18n "email" }}*
    <input type="email" name="email" required>
  </label>
  <label for="phone">
    {{ i18n "phone" }}*
    <input class="js-phone" type="tel" name="phone">
  </label>
  <label for="message">
    {{ i18n "message" }}*
    <textarea name="message" required></textarea>
  </label>
  <button
    class="contact-form__submit button button--destak"
    type="submit"
  >
    {{ i18n "send" }}
  </button>
  <div class="js-response-message response-message"></div>
</form>
