<footer class="site-footer">
  <div class="container">
    <section class="site-footer__colophon">
      <div class="site-footer__first-row">
        <div class="site-footer__logo">
          <a href="{{ .Site.BaseURL }}" class="logo"></a>
        </div>

        <a class="site-footer__email" href="mailto:emailobserva@primeirainfancia.org">emailobserva@primeirainfancia.org</a>
      </div>

      <div class="site-footer__logos">
        <div class="site-footer__logo-group">
          <h4>Realização</h4>
          <img src="/assets/images/andi.png" alt="Andi">
          <img src="/assets/images/rnpi.png" alt="Rede Nacional Primeira Infancia">
        </div>

        <div class="site-footer__logo-group">
          <h4>Em aliança com</h4>
          <img src="/assets/images/bernard.png" alt="Bernard van Leer">
        </div>

        <div class="site-footer__logo-group site-footer__logo-group--big">
          <h4>Patrocínio</h4>
          <img src="/assets/images/petrobras.png" alt="Petrobrás">
          <img src="/assets/images/brasil.png" alt="Governo Federal" class="site-footer__white-logo">
        </div>
      </div>

      <address>
        {{ with $.Site.Data.footerLinks }}
          {{ range .list }}
            <a href="{{ .url }}" title="{{ .name }}" class="{{ .cssClass }}">{{ .value }}</a>
          {{ end }}
        {{ end }}

        {{ with $.Site.Data.address }}
          {{ with .address }}
            <span>{{ . }}</span>
          {{ end }}
        {{ end }}
      </address>
    </section>
  </div>
  <div class="footer__developed-by">
    <span>{{ i18n "developedBy" }}</span>
    <a href="{{ $.Site.Params.developedByLink }}" target="_blank">
      {{ $.Site.Params.developedBy }}
    </a>
  </div>
</footer>
