    {{ partial "head.html" . }}

    <body>
      {{ partial "header.html" . }}

      <section class='search-area'>
        <div class="container">
          <form action="">
            <label for="search">
              {{ i18n "exploreData" }}
            </label>
            <input type="search" id="search" placeholder="{{ i18n "exploreDataPlaceholder" }}">
            <button>{{ i18n "search" }}</button>
          </form>
        </div>
      </section>

      {{ partial "footer.html" . }}

      {{ partial "scripts.html" . }}

      <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>

      <script>
        if (window.netlifyIdentity) {
          window.netlifyIdentity.on("init", user => {
            if (!user) {
              window.netlifyIdentity.on("login", () => {
                document.location.href = "/admin/";
              });
            }
          });
        }
      </script>
    </body>
</html>
