    {{ partial "head.html" . }}

    <body>
      {{ partial "header.html" . }}

      <div class="home-hero__offset">
        <div class="container">
          <section class="home-hero home-hero--notebook">
            <div class="home-hero__text">
              <h1 class="typed"></h1>
            </div>
            <div class="home-hero__image  home-hero__image--overflow-bottom">

              <video muted autoplay="autoplay" poster="/assets/images/white.jpg">
                <source src="/intro.mp4" type="video/mp4">
              </video>
                <!-- src="/assets/images/notebook.png" -->
                <!--
              <img
                srcset="
                  assets/images/notebook.png 1056w,
                  assets/images/notebook-768.png 768w,
                  assets/images/notebook-479.png 479w,
                  assets/images/notebook-320.png 320w,
                "
                alt="{{ i18n "flagText" }}"
              >
                -->
            </div>
          </section>
        </div>
      </div>

      <div class="blue-bg blue-bg--dark">
        <div class="home-hero">
          <div class="container">
            <section class="home-hero">
              <img
                src="assets/images/graphic.svg"
                alt="{{ i18n "organizeContacts" }}"
                class="home-hero__image hero-image__graphic"
              >
              <div class="home-hero__text home-hero__text--white">
                <h1>{{ i18n "organizeContacts" }}</h1>
                <p>{{ i18n "organizeContactsDescription" }}</p>
              </div>
            </section>

            <section class="home-hero home-hero--reverse">
              <div class="home-hero__text home-hero__text--white">
                <h1>{{ i18n "startYourNetworkStrategy" }}</h1>
                <p>{{ i18n "startYourNetworkStrategyDescription" }}</p>
              </div>
              <img
                src="assets/images/points.svg"
                alt="{{ i18n "startYourNetworkStrategy" }}" class="home-hero__image"
              >
            </section>
          </div>
        </div>
      </div>

      <div class="container">
        <section class="home-hero home-hero--centered-content home-hero--margin-top">
          <img
            src="assets/images/home-robots.svg"
            alt="{{ i18n "potentializeYourInfluence" }}"
            class="home-hero__image"
          >
          <div class="home-hero__text">
            <h1>{{ i18n "potentializeYourInfluence" }}</h1>
            <p>{{ i18n "potentializeYourInfluenceDescription" }}</p>
          </div>
        </section>

        <section class="home-hero home-hero--reverse home-hero--centered-content">
          <div class="home-hero__text">
            <h1>{{ i18n "knowAboutPerformance" }}</h1>
            <p>{{ i18n "knowAboutPerformanceDescription" }}</p>
          </div>
          <img
            src="assets/images/profile.jpg"
            alt="{{ i18n "knowAboutPerformance" }}"
            class="home-hero__image"
          >
        </section>

        <section class="home-hero">
          <img
            src="assets/images/app-blocks.svg"
            alt="{{ i18n "bestOfDigitalTecnology" }}"
            class="home-hero__image"
          >
          <div class="home-hero__text">
            <h1>{{ i18n "bestOfDigitalTecnology" }}</h1>
            <p>{{ i18n "bestOfDigitalTecnologyDescription" }}</p>
          </div>
        </section>
      </div>

      <div class="blue-bg blue-bg--dark">
        <div class="container">
          <section class="home-hero want-to-know-more">
            <div class="home-hero__text home-hero__text--white">
              <h1>
                {{ i18n "wantToKnowMore" }}
                {{ i18n "writeToUs" }}
              </h1>
              <p>
                {{ i18n "wantToKnowMoreDescription" }}
              </p>
              <a
                class="button"
                href="https://api.whatsapp.com/send?phone=5511932843282&text=Ol%C3%A1,%20quero%20saber%20mais%20sobre%20o%20APPC%C3%ADvco!"
              >
                {{ i18n "findOutMore" }}
              </a>
            </div>
            <iframe
              width="560"
              height="315"
              class="home-hero__iframe"
              src="https://www.youtube.com/embed/eA5CKdjN5ZU?start=730"
              frameborder="0"
              allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen>
            </iframe>
            <!-- <img src="assets/images/notebook.png" alt="{{ i18n "talkNow" }}" class="home&#45;hero__image"> -->
          </section>

          {{ with (where $.Site.Pages "Type" "testimonials") }}
            <section class="testimonials">
              <h1>{{ i18n "testimonialsTitle" }}</h1>

              <div class="testimonials__items">
                {{ range (where $.Site.Pages "Type" "testimonials") }}
                  <blockquote class="testimonials__item {{ with .Params.destak }} testimonials__item--destak {{ end }}">
                    <div class="testimonials__content">
                      {{ .Content | markdownify }}
                    </div>
                    <footer>
                      <img
                        src="{{ .Params.image }}"
                        alt="{{ .Title }}"
                      >
                      <p>{{ .Params.job }}</p>
                      <p>{{ .Title }}</p>
                    </footer>
                  </blockquote>
                {{ end }}
              </div>
            </section>
          {{ end }}
        </div>
      </div>

      <div class="container">
        <section class="cards">
          <h1 class="cards__title">
            {{ i18n "cardsTitle" }}
          </h1>
          {{ with $.Site.Data.homeCards }}
            <ul class="cards__list">
              {{ range .list }}
                <li class="cards__card">
                  <img src="{{ .image }}" alt="{{ .description }}" class="cards__image {{ .layout }}">
                  <div class="cards__text">
                    <strong>{{ .title }}</strong>
                    <p>{{ .description }}</p>
                  </div>
                </li>
              {{ end }}
            </ul>
          {{ end }}
        </section>
      </div>

      <div class="blue-bg" id="planos">
        <div class="container">
          <section class="plans">
            <h1 class="plans__title">
              {{ i18n "plansTitle" }}
            </h1>
            {{ with $.Site.Data.plans }}
              <ul class="plans__list">
                {{ range .list }}
                  <li>
                    <section>
                      <header>
                        <h1><strong>{{ .name }}</strong></h1>
                      </header>
                      <ul>
                        <li
                          class="plans__price">
                          {{ .price }}<small>/{{ i18n "month" }}</small>
                          {{ with .recommended }}
                            <span class="plans__recommended">{{ i18n "bestSeller" }}</span>
                          {{ end }}
                        </li>
                        {{ with .contacts }}
                          <li>{{ . }}</li>
                        {{ end }}
                        {{ with .members }}
                          <li>{{ . }}</li>
                        {{ end }}
                        {{ with .bots }}
                          <li>{{ . }} {{ i18n "robots" }}</li>
                        {{ end }}
                        {{ with .api }}
                          <li>{{ . }}</li>
                        {{ end }}
                        {{ with .sync }}
                          <li>{{ . }}</li>
                        {{ end }}
                        {{ with .support }}
                          <li>{{ . }}</li>
                        {{ end }}
                        <li>
                          <a
                            class="button button--small button--destak"
                            href="{{ .link }}"
                            target="_blank"
                          >
                              {{ i18n "tryNow" }}
                          </a>
                        </li>
                      </ul>
                    </section>
                  </li>
                {{ end }}
              </ul>
            {{ end }}
            <p class="plans__payment-methods">
              <span class="plans__pay-with">
                {{ i18n "payWith" }}
              </span>
              <span class="plans__credit-card">
                {{ i18n "creditCard" }}
              </span>
              <span class="plans__payment-slip">
                {{ i18n "paymentSlip" }}
              </span>
              <span class="plans__safe-payment">
                {{ i18n "safePayment" }}
              </span>
            </p>
            <p class="plans__warranty">
              {{ i18n "warranty" }}
            </p>

          </section>
        </div>
      </div>

      {{ partial "footer.html" . }}

      {{ partial "scripts.html" . }}

      <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.11"></script>

      <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>

      <script>
        if (window.netlifyIdentity) {
          window.netlifyIdentity.on("init", user => {
            if (!user) {
              window.netlifyIdentity.on("login", () => {
                document.location.href = "/admin/";
              });
            }
          });
        }

        const options = {
          strings: [
            {{ range (where $.Site.Pages "Type" "homeHeaders") }}
              {{ .Title }},
            {{ end }}
          ],
          typeSpeed: 90,
          loop: true,
          backSpeed: 20,
          backDelay: 3000
        };

        const typed = new Typed('.typed', options);
      </script>
    </body>
</html>
