    {{ partial "head.html" . }}

    <body>
      {{ partial "header.html" . }}

      <section class='search-area search-area--home'>
        <div class="container">
          <header>
            <h1>
              A Primeira Infância é Prioridade no Brasil
            </h1>
          </header>
          <p>
            O Observa é uma plataforma que visa auxíliar nas criações de políticas públicas para crianças
            de 0 à 6 anos, com base na lei de 2016 (Marco Legal).
          </p>
        </div>
      </section>

      <section>
        <div class="container main-areas">
          <h1>Conheça os três eixos do Observa</h1>
          <div class="white-box main-area__boxes">
            <div class="main-area__box">
              <img src="http://placekitten.com/600/600" alt="gatchenho">
              <h2>Indicadores</h2>
              <p>Construímos um ambiente onde é possível pesquisar por indicadores e seus desagregadores com base no Marco Legal de 2016, para auxiliar no processo de construção de políticas públicas em todo o território nacional.</p>
              <p>Entenda os indicadores de seu estado, município, ou região.</p>
              <a href="" class="button button--purple">explorar os indicadores</a>
            </div>
            <div class="main-area__box">
              <img src="http://placekitten.com/600/600" alt="gatchenho">
              <h2>Plano para Primeira Infância</h2>
              <p>O Observa analisou 100 planos de primeira infância no Brasil e criou um infográfico para informar e documentar os 5.570 municípios existente na nossa nação.</p>
              <p>Descubra se seu município possuí um plano para a primeira infância e nos ajude mandando o plano de seu estado.</p>
              <a href="" class="button button--purple">100 Planos para Primeira Infância</a>
            </div>
            <div class="main-area__box">
              <img src="http://placekitten.com/600/600" alt="gatchenho">
              <h2>Biblioteca</h2>
              <p>Com o intuito de disseminar as informações, conhecimentos e materiais referenciais sobre os temas: Marco Legal 2016 e Primeira Infância.</p>
              <p>O Observa montou um repositório de arquivos importantes com esses temas.</p>
              <a href="" class="button button--purple">Conheça a nossa biblioteca</a>
            </div>
          </div>
        </div>
      </section>

      <section>
        <div class="container">
          <h1>Referências</h1>
          <div class="indicator-boxes">
            <h2>Brasil</h2>
            <div class="indicator-boxes__box">
              <span class="indicator-boxes-osr indicator-boxes-osr--saude">Saúde</span>
              <h3>Proporção de nascidos vivos cujas mães realizaram pelo menos 7 consultas pré-natal</h3>
              <h4>33.4567.786</h4>
            </div>
            <div class="indicator-boxes__box">
              <span class="indicator-boxes-osr indicator-boxes-osr--saude">Saúde</span>
              <h3>Proporção de nascidos vivos cujas mães realizaram pelo menos 7 consultas pré-natal</h3>
              <h4>33.4567.786</h4>
            </div>
            <div class="indicator-boxes__box">
              <span class="indicator-boxes-osr indicator-boxes-osr--saude">Saúde</span>
              <h3>Proporção de nascidos vivos cujas mães realizaram pelo menos 7 consultas pré-natal</h3>
              <h4>33.4567.786</h4>
            </div>
            <h2>
              Municípios
              <span>Laranjeiras</span>
            </h2>
            <div class="indicator-boxes__box">
              <span class="indicator-boxes-osr indicator-boxes-osr--saude">Saúde</span>
              <h3>Proporção de nascidos vivos cujas mães realizaram pelo menos 7 consultas pré-natal</h3>
              <h4>33.4567.786</h4>
            </div>
            <div class="indicator-boxes__box">
              <span class="indicator-boxes-osr indicator-boxes-osr--saude">Saúde</span>
              <h3>Proporção de nascidos vivos cujas mães realizaram pelo menos 7 consultas pré-natal</h3>
              <h4>33.4567.786</h4>
            </div>
            <div class="indicator-boxes__box">
              <span class="indicator-boxes-osr indicator-boxes-osr--saude">Saúde</span>
              <h3>Proporção de nascidos vivos cujas mães realizaram pelo menos 7 consultas pré-natal</h3>
              <h4>33.4567.786</h4>
            </div>
          </div>
        </div>
      </section>

      <section>
        <div class="news">
          <div class="container">
            <h1>Notícias</h1>
            <div class="news__item">
              <img src="http://placekitten.com/750/700" alt="gatchenho">
              <h2>Conheça projetos que se tornaram lei no primeiro  semestre</h2>
              <time datetime="24/09/2019">24/09/2019</time>
            </div>
            <div class="news__item">
              <img src="http://placekitten.com/750/700" alt="gatchenho">
              <h2>Conheça projetos que se tornaram lei no primeiro  semestre</h2>
              <time datetime="24/09/2019">24/09/2019</time>
            </div>
            <div class="news__item">
              <img src="http://placekitten.com/750/700" alt="gatchenho">
              <h2>Conheça projetos que se tornaram lei no primeiro  semestre</h2>
              <time datetime="24/09/2019">24/09/2019</time>
            </div>
          </div>
        </div>
      </section>

      <section class="about-us">
        <figure class="about-us__image">
          <img src="http://placekitten.com/768/580" alt="">
        </figure>
        <div class="about-us__text">
          <div class="container">
            <h1>Quem somos</h1>
            <p>A ANDI é uma organização da sociedade civil, sem fins de lucro e apartidária, que articula ações inovadoras em mídia para o desenvolvimento. Suas estratégias estão fundamentadas na promoção e no fortalecimento de um diálogo profissional e ético entre as redações, as faculdades de comunicação e de outros campos do conhecimento, os poderes públicos e as entidades relacionadas à agenda do desenvolvimento sustentável e dos direitos humanos nos âmbitos nacional e global.</p>
            <a class="button" href="">Conheça mais</a>
          </div>
        </div>
      </section>


      {{ partial "footer.html" . }}

      {{ partial "scripts.html" . }}
    </body>
</html>
